<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main-panel.component.css">
</head> -->
<!--
<div class="sidenav">

  <div style="position: relative; left: 20px; top: -30px;">
    <mat-card-actions><h4><a href="https://github.com/ngageoint/geopackage-viewer-js">API Documentation</a></h4></mat-card-actions>
    <h4>
      <mat-card-actions>You can load a GeoPackage directly from a URL by including a gpkg parameter in the URL. Specify which layers (if any) you would like to load with layers parameters.</mat-card-actions>
    </h4>
    <mat-card-actions><h4 style="font-family: Arial, Helvetica, sans-serif;"><a href="https://ngageoint.github.io/geopackage-js/?gpkg=http://ngageoint.github.io/GeoPackage/examples/rivers.gpkg&layers=rivers">For Example (click me)</a></h4></mat-card-actions>
</div>
  
  <mat-card><file-upload></file-upload></mat-card> 

</div>
-->
<!-- <mat-sidenav-container class="" hasBackdrop="false">
  <mat-sidenav #drawer mode="over" position="end" autoFocus="false">
    <div class="card">
      <div class="card-body">
        <div style>
        <h4 class="card-title"><a href="https://github.com/ngageoint/geopackage-viewer-js">API Documentation</a></h4>
        <p class="card-text">
          You can load a GeoPackage directly from a URL by including a gpkg parameter in the URL. Specify which layers (if any) you would like to load with layers parameters.
        </p>
        <mat-card-actions><h4 style="font-family: Arial, Helvetica, sans-serif;"><a href="https://ngageoint.github.io/geopackage-js/?gpkg=http://ngageoint.github.io/GeoPackage/examples/rivers.gpkg&layers=rivers">For Example (click me)</a></h4></mat-card-actions>
        <file-upload></file-upload>
        <h5>Supported file types for conversion are GeoJSON, Shapefile, Shapefile Zip, MBTiles, KML and KMZ</h5>
      </div>
    </div>

    </div>
</mat-sidenav>
<mat-sidenav-content>
  content
</mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="card">
      <div class="card-body">
        <div style>
        <h4 class="card-title"><a href="https://github.com/ngageoint/geopackage-viewer-js">API Documentation</a></h4>
        <p class="card-text">
          You can load a GeoPackage directly from a URL by including a gpkg parameter in the URL. Specify which layers (if any) you would like to load with layers parameters.
        </p>
        <mat-card-actions><h4><a href="https://ngageoint.github.io/geopackage-js/?gpkg=http://ngageoint.github.io/GeoPackage/examples/rivers.gpkg&layers=rivers">For Example (click me)</a></h4></mat-card-actions>
        <file-upload></file-upload>
        <h5>Supported file types for conversion are GeoJSON, Shapefile, Shapefile Zip, MBTiles, KML and KMZ</h5>
        <h6>- or -</h6>
        <h6>Open one of these samples:</h6>
        <h4><a href="https://ngageoint.github.io/GeoPackage/examples/rivers.gpkg">Natural Earth Rivers</a></h4>
        <h4><a href="https://www.geopackage.org/data/gdal_sample.gpkg">Technology Test Data Set</a></h4>  
        <h4>More GeoPackages can be found at:</h4>
        <h4><a href="https://www.geopackage.org/data.html">https://www.geopackage.org/data.html</a></h4>
        <app-geopackage-general-information></app-geopackage-general-information>
      </div>
      </div>
    </div>
  </mat-drawer>
  
  
  
  <mat-drawer-content>
  
    <app-map></app-map>
  
  </mat-drawer-content>
</mat-drawer-container>


<!-- </html> -->