<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main-panel.component.css">
</head>
<!--
<div class="sidenav">

  <div style="position: relative; left: 20px; top: -30px;">
    <mat-card-actions><h4><a href="https://github.com/ngageoint/geopackage-viewer-js">API Documentation</a></h4></mat-card-actions>
    <h4>
      <mat-card-actions>You can load a GeoPackage directly from a URL by including a gpkg parameter in the URL. Specify which layers (if any) you would like to load with layers parameters.</mat-card-actions>
    </h4>
    <mat-card-actions><h4 style="font-family: Arial, Helvetica, sans-serif;"><a href="https://ngageoint.github.io/geopackage-js/?gpkg=http://ngageoint.github.io/GeoPackage/examples/rivers.gpkg&layers=rivers">For Example (click me)</a></h4></mat-card-actions>
</div>
  
  <mat-card><file-upload></file-upload></mat-card> 

</div>
-->
<div class="card" style="width: 19rem; ">
  <div class="card-body">
    <div style="position: relative; left: 870px; top: -10px;">
    <h4 class="card-title"><a href="https://github.com/ngageoint/geopackage-viewer-js">API Documentation</a></h4>
    <p class="card-text">
      You can load a GeoPackage directly from a URL by including a gpkg parameter in the URL. Specify which layers (if any) you would like to load with layers parameters.
    </p>
    <mat-card-actions><h4 style="font-family: Arial, Helvetica, sans-serif;"><a href="https://ngageoint.github.io/geopackage-js/?gpkg=http://ngageoint.github.io/GeoPackage/examples/rivers.gpkg&layers=rivers">For Example (click me)</a></h4></mat-card-actions>
    <file-upload></file-upload>
    <h5>Supported file types for conversion are GeoJSON, Shapefile, Shapefile Zip, MBTiles, KML and KMZ</h5>
  </div>
</div>
</div>

</html>