<div class="tiles">
    <div class="section-title">Tile Information</div>
    <div class="section">
      <div class="item"><span class="label">Total Tiles: </span><span class="value">{{tileInfo.count}}</span></div>
      <div class="item"><span class="label">Zoom Levels: </span><span class="value">{{tileInfo.zoomLevels}}</span></div>
      <div class="item"><span class="label">Min GeoPackage File Zoom: </span><span class="value">{{tileInfo.minZoom}}</span></div>
      <div class="item"><span class="label">Max GeoPackage File Zoom: </span><span class="value">{{tileInfo.maxZoom}}</span></div>
      <div class="item"><span class="label">Min Web Map Zoom: </span><span class="value">{{tileInfo.minWebMapZoom}}</span></div>
      <div class="item"><span class="label">Max Web Map Zoom: </span><span class="value">{{tileInfo.maxWebMapZoom}}</span></div>
    </div>
  </div>