<div class="srs">
    <div class="section">
      <div class="item"><span class="label">SRS Name: </span><span class="value">{{srs.name}}</span></div>
      <div class="item"><span class="label">SRS ID: </span><span class="value">{{srs.id}}</span></div>
      <div class="item"><span class="label">Organization: </span><span class="value">{{srs.organization}}</span></div>
      <div class="item"><span class="label">Coordsys ID: </span><span class="value">{{srs.organization_coordsys_id}}</span></div>
      <div class="item"><span class="label">Definition: </span><span class="value">{{srs.definition}}</span></div>
      <div class="item"><span class="label">Description: </span><span class="value">{{srs.description}}</span></div>
    </div>
</div>