<div class="geometryColumns">
    <div class="section">
      <div class="item"><span class="label">Table Name: </span><span class="value">{{geometryColumns.tableName}}</span></div>
      <div class="item"><span class="label">Column Name: </span><span class="value">{{geometryColumns.columnName}}</span></div>
      <div class="item"><span class="label">Geometry Type Name: </span><span class="value">{{geometryColumns.geometryTypeName}}</span></div>
      <div class="item"><span class="label">Z: </span><span class="value">{{geometryColumns.z}}</span></div>
      <div class="item"><span class="label">M: </span><span class="value">{{geometryColumns.m}}</span></div>
    </div>
  </div>