<div class="section">
    <div class="item"><span class="label">SRS Name: </span><span class="value">{{contentssrs.name}}</span></div>
    <div class="item"><span class="label">SRS ID: </span><span class="value">{{contentssrs.id}}</span></div>
    <div class="item"><span class="label">Organization: </span><span class="value">{{contentssrs.organization}}</span></div>
    <div class="item"><span class="label">Coordsys ID: </span><span class="value">{{contentssrs.organization_coordsys_id}}</span></div>
    <div class="item"><span class="label">Definition: </span><span class="value">{{contentssrs.definition}}</span></div>
    <div class="item"><span class="label">Description: </span><span class="value">{{contentssrs.description}}</span></div>
  </div>
