<div class="section-title">Tiles in the current map view: (zoom and pan in the map to see other tiles)</div>
      <div class="tileListing">
      </div>
    <br>
    <div class="section">
        <div class="item"><span class="label">West: </span><span class="value">{{tileInfo.west}}</span></div>
        <div class="item"><span class="label">South: </span><span class="value">{{tileInfo.south}}</span></div>
        <div class="item"><span class="label">East: </span><span class="value">{{tileInfo.east}}</span></div>
        <div class="item"><span class="label">North: </span><span class="value">{{tileInfo.north}}</span></div>
        <div class="item"><span class="label">Zoom: </span><span class="value">{{zoom}}</span></div>
      </div>