<div class="section-title">Tiles in the current map view: (zoom and pan in the map to see other tiles)</div>
      <div class="tileListing">
      </div>
    <br>
    <div class="section">
        <div class="item"><span class="label">West: </span><span class="value">{{west}}</span></div>
        <div class="item"><span class="label">South: </span><span class="value">{{south}}</span></div>
        <div class="item"><span class="label">East: </span><span class="value">{{east}}</span></div>
        <div class="item"><span class="label">North: </span><span class="value">{{north}}</span></div>
        <div class="item"><span class="label">Zoom: </span><span class="value">{{zoom}}</span></div>
      </div>

    <hr>



    <table mat-table [dataSource]="features" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> on/off </th>
            <td mat-cell *matCellDef="let row">
              <mat-radio-group [(ngModel)]="selectedRow" (change)="toggleFeature(row)">
                <mat-radio-button [value]="row"></mat-radio-button>
            </mat-radio-group>
            </td>
          </ng-container>


        <ng-container matColumnDef="{{column.name}}" *ngFor="let column of columns" class="spacing">
            <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
            <td mat-cell *matCellDef="let feature"> {{feature[column.displayName]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)" (mouseover)="hoverOver(row)"> 
        </tr>
      </table>
