<div class="contents">
    <div class="section">
      <div class="item"><span class="label">Table Name: </span><span class="value">{{contents.tableName}}</span></div>
      <div class="item"><span class="label">Data Type: </span><span class="value">{{contents.dataType}}</span></div>
      <div class="item"><span class="label">Identifier: </span><span class="value">{{contents.identifier}}</span></div>
      <div class="item"><span class="label">Description: </span><span class="value">{{contents.description}}</span></div>
      <div class="item"><span class="label">Last Change: </span><span class="value">{{contents.lastChange}}</span></div>
      <div class="item"><span class="label">Min X: </span><span class="value">{{contents.minX}}</span></div>
      <div class="item"><span class="label">MinY: </span><span class="value">{{contents.minY}}</span></div>
      <div class="item"><span class="label">Max X: </span><span class="value">{{contents.maxX}}</span></div>
      <div class="item"><span class="label">Max Y: </span><span class="value">{{contents.maxY}}</span></div>
    </div>
</div>