    <!-- <table id="{{tab.tableName}}-feature-table" onmouseout="clearHighlights()">
      <thead>
        <tr>
          <th></th>
          <div *ngFor="let tileTable of tab.tiles; index as i;">
            <th>{{tab.displayName}}</th>
          </div>
        </tr>
      </thead>
      <div *ngFor="let tileTable of tab.features; index as i;">
        <tr onmouseover="highlightFeature('{{id}}', '{{tableName}}')" ondblclick="zoomToFeature('{{id}}', '{{tableName}}'); $(this).parent().find('.fa-check-circle').removeClass('fa-check-circle').addClass('fa-circle-o'); $(this).find('.fa').removeClass('fa-circle-o').addClass('fa-check-circle');">
      <td><i class="fa fa-circle-o" onclick="toggleFeature('{{id}}', '{{tableName}}'); if ($(this).hasClass('fa-circle-o')) { $(this).parent().parent().parent().find('.fa-check-circle').removeClass('fa-check-circle').addClass('fa-circle-o');} $(this).toggleClass('fa-circle-o').toggleClass('fa-check-circle');"></i></td>
      <div *ngFor="let tileTable of tab.values; index as i;">
      </div>
    </tr>
      </div>
    </table>
  <script id="feature-template" type="x-tmpl-mustache">
    <tr onmouseover="highlightFeature('{{id}}', '{{tableName}}')" ondblclick="zoomToFeature('{{id}}', '{{tableName}}'); $(this).parent().find('.fa-check-circle').removeClass('fa-check-circle').addClass('fa-circle-o'); $(this).find('.fa').removeClass('fa-circle-o').addClass('fa-check-circle');">
    <td><i class="fa fa-circle-o" onclick="toggleFeature('{{id}}', '{{tableName}}'); if ($(this).hasClass('fa-circle-o')) { $(this).parent().parent().parent().find('.fa-check-circle').removeClass('fa-check-circle').addClass('fa-circle-o');} $(this).toggleClass('fa-circle-o').toggleClass('fa-check-circle');"></i></td>
      {{#values}}
        <td>{{{.}}}</td>
      {{/values}}
    </tr>
  </script> -->
