<app-onoffswitch [tableName]="tableName"></app-onoffswitch>

<p>Feature Table "{{tableName}}" has {{count}} features</p>
    
<a (click)="toggleDetails()">
    <button mat-flat-button color="primary" class="letsgoavs">details</button>
</a>
    
<app-details-button *ngIf="showDetails==true" [tableInfo]="tableInfo" [tableName]="tableName"></app-details-button>

<app-zoomto-button [minLongitude]="minLongitude" [minLatitude]="minLatitude" [maxLongitude]="maxLongitude" [maxLatitude]="maxLatitude" [zoom]="zoom"></app-zoomto-button>

<!--    
<a (click)="toggleDownload()">
    <button mat-flat-button color="primary" class="letsgoavs">download layer as GoeJSON</button>
</a> -->

